<div class="navbarContainer">
  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="heading text-center">Frequently Asked Questions</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="accordion" id="faq">
        <div class="row">
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  I would like to organise a meal, how can I do it?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="questionOne"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Please contact us, telling us all your requirements, and we will reply with our best offer.<br>
                    Phone: +48 555 666 777<br>
                    E-mail: support&#64;eatandchill.com<br>
                  </p>
                  <button class="contactButton" (click)="goToContact()">Contact Form</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Is it open every day of the week?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="questionTwo"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Yeah. We are open Monday to Friday from 11 a.m. to 10 p.m. and Friday to Saturday from 11 a.m.
                    to 3 p.m.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Can I reschedule my booking?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="questionThree"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Yes, by contacting the restaurant via email or phone with at least 48 hours notice. Please note: this
                  does not include voicemail messages.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Is it possible to visit a restaurant with a pet?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="questionFour"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Yes. You can visit our restaurant with your pet.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  What table sizes are available?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="questionFive"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>We offer parties for 1–6 people; however, due to the popularity of tables of 2, you are more likely to find an available table for 4–6 guests.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Do you allow children in the restaurant?
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="questionSix"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>We allow children as young as 12 in the restaurant. Please be aware that we do not offer a
                    children's menu for either service, and a seat in the restaurant is a fixed price depending on service, regardless of age. All children should be supervised by an adult at all times to avoid any potential disruptions to other guests.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  Do you have Wi-Fi?
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="questionSeven"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Currently, we do not have public Wi-Fi.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="accordion-item">
              <h2 class="accordion-header" id="questionEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  Do you have outdoor seating?
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="questionEight"
                data-bs-parent="#faq">
                <div class="accordion-body">
                  <p>Yes! We offer outdoor seating on our streatery. Please note that we do NOT have outdoor heaters, and the streatery is partially covered.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="imageContainer d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12">
            <img class="faqImg" [lazyLoad]="restaurantImage" alt="Image of restaurant">
          </div>
        </div>
      </div>
    </div>
  <div class="footerContainer">
    <div class="row">
      <div class="col">
  <app-footer></app-footer>
      </div>
    </div>
  </div>

