.container {
  min-height: 100vh;
  margin-top: 4px;
}

.imgForFaqSection
 {
  width: 100vw;
  height: 200px;
  border-radius: 20px;
 }
/*
.navbar {
  position: relative;
  z-index: 1;
} */
/* .navigation {
 margin-bottom: 100px;
} */

.faqHeading {
  font-size: 46px;
  font-family: var(--secondary-font);
  color: var(--green);
position: sticky;
top: 30%;
}

/* .accordion {
  width: 800px;
} */

.accordion-item {

  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.accordion-button{
  padding: 20px;
  background-color: var(--green);
  color: var(--white);
  font-size: 16px;
}

.contactButton {
  background-color: transparent;
  border: none;
}
