.container {
  min-height: 100vh;
  margin-top: 4px;
}

.heading {
  position: sticky;
  top: 30%;
  color: var(--green);
  font-size: 46px;
  font-family: var(--secondary-font);
}

.accordion-item {
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.accordion-button{
  padding: 20px;
  color: var(--white);
  background-color: var(--green);
  font-size: 16px;
}

.contactButton {
  border: none;
  background-color: transparent;
}

