<div class="accordion" id="faq">
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        This is first question
      </button>
    </h1>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="questionOne" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, excepturi animi? Error cumque nobis
          praesentium.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        This is question two
      </button>
    </h1>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="questionTwo" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quia, voluptate illo ipsum possimus repudiandae
          vel dicta rem quas eveniet incidunt beatae unde fugit optio eum laudantium non doloribus.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        This is question three
      </button>
    </h1>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="questionThree" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quia, voluptate illo ipsum possimus repudiandae
          vel dicta rem quas eveniet incidunt beatae unde fugit optio eum laudantium non doloribus.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        This is question four
      </button>
    </h1>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="questionFour" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quia, voluptate illo ipsum possimus repudiandae
          vel dicta rem quas eveniet incidunt beatae unde fugit optio eum laudantium non doloribus.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
        aria-expanded="false" aria-controls="collapseFive">
        This is question five
      </button>
    </h1>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="questionFive" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quia, voluptate illo ipsum possimus repudiandae
          vel dicta rem quas eveniet incidunt beatae unde fugit optio eum laudantium non doloribus.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h1 class="accordion-header" id="questionSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
        aria-expanded="false" aria-controls="collapseSix">
        This is question two
      </button>
    </h1>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="questionSix" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic quia, voluptate illo ipsum possimus repudiandae
          vel dicta rem quas eveniet incidunt beatae unde fugit optio eum laudantium non doloribus.</p>
      </div>
    </div>
  </div>
</div>