.container {
  min-height: 50vh;
  border-radius: 20px;
  background-color: var(--green);
  color: var(--white);
}

.headingContainer {
  margin-bottom: 20px;
}

.headingContainer h1, h2{
  font-size: 24px;
}

.contactItems a {
  color: var(--white);
  text-decoration: none;
}

.footerIcon {
  padding-right: 8px;
  filter: invert(93%) sepia(43%) saturate(2654%) hue-rotate(180deg) brightness(111%) contrast(108%);
}

.reservationButton {
  border: none;
  color: var(--white);
  background-color: transparent;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
    padding-top: 15px;
  }
  .footerContainer {
    flex-direction: column;
  }
  .headingContainer h1, h2{
    font-size: 16px;
  }
  .logoSection,
  .hoursSection,
  .contactSection {
    width: 90vw;
  }
  p {
    font-size: 12px;
  }
  .footerIcon {
    width: 25px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 90vw;
    padding-top: 15px;
  }
  .headingContainer h1, h2{
    font-size: 20px;
  }
  .footerContainer {
    flex-direction: column;
  }
  .logoSection,
  .hoursSection,
  .contactSection {
    width: 90vw;
  }
  p {
    font-size: 14px;
  }
  .footerIcon {
    width: 30px;
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  .headingContainer h1, h2{
    font-size: 22px;
  }
  .headingContainer h1, h2{
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .footerIcon {
    width: 20px;
  }
}
