.container {
  min-height: 50vh;
  border-radius: 20px;
  background-color: var(--green);
  color: var(--white);
}

.headingContainer {
  margin-bottom: 20px;
}

.headingContainer h1, h2{
  font-size: 24px;
}

.contactItems a {
  color: var(--white);
  text-decoration: none;
}

.footerIcon {
  padding-right: 8px;
  filter: invert(93%) sepia(43%) saturate(2654%) hue-rotate(180deg) brightness(111%) contrast(108%);
}

.reservationButton {
  border: none;
  color: var(--white);
  background-color: transparent;
}
