<div class="container">
  <div class="row">
    <div class="col">
      <div class="col">
        <!-- logo -->
      </div>
      <div class="row">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ut! Lorem ipsum dolor sit.</p>
        <div class="row">
          <h2>Contact Us</h2>
          <!--wstawić ikony-->
          <p>ul. Piękna 53, Warszawa</p>
          <p>+48 555 666 777</p>
          <p>support@helloburger.com</p>
          <p>Reservation</p>
          <!-- ikony social media -->
        </div>
        <div class="col">
          <h3>Opening Hours</h3>
          <p>Monday - Thursday</p>
          <p>11:00 AM - 9:00 PM</p>
          <p>Friday - Saturday</p>
          <p>11:00 AM - 5:00 PM</p>
        </div>
      </div>
    </div>

  </div>
</div>
