<footer class="bottom">
  <div class="container d-flex align-items-center">
    <div class="row justify-content-center">
      <div class="col-4 mx-auto">
        <div class="footerHeading">
          <img class="logo" src="assets/logo.png" alt="Logo of restaurant">
        </div>
        <div>
          <p>An austere experience, where richness is lived through the purity of ingredients, the combination of extraordinary flavors, and the story of their origin.</p>
        </div>
      </div>
      <div class="col-3 mx-auto">
        <div class="footerHeading">
          <h1 class="text-uppercase fw-bold">Opening Hours</h1>
        </div>
        <div>
          <p>Monday - Thursday</p>
          <p>11:00 AM - 10:00 PM</p>
          <p>Friday - Saturday</p>
          <p>11:00 AM - 3:00 PM</p>
        </div>
      </div>
      <div class="col-3 mx-auto">
        <div class="footerHeading">
          <h2 class="text-uppercase fw-bold">Contact</h2>
        </div>
        <div class="contactItems">
          <p><img class="footerIcon" src="assets/icons/icon-address.svg" alt="address icon">ul. Piękna 53, Warsaw</p>
          <p><img class="footerIcon" src="assets/icons/icon-phone.svg" alt="address icon"><a href="tel:+48555666777">+48
              555 666 777</a></p>
          <p><img class="footerIcon" src="assets/icons/icon-email.svg" alt="address icon"><a
              href="mailto:support@eatandchill.com">support@eatandchill.com</a></p>
          <p><img class="footerIcon" src="assets/icons/icon-form.svg" alt="address icon">
            <button class="reservationButton" (click)="goToReservation()">Book a table</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-4">
    <p>© 2023 Eat & Chill. All Rights Reserved.</p>
  </div>
</footer>
