.container {
  max-width: 100vw;
  min-height: 100vh;
  color: var(--white);
  background-image: url(/assets/error.png);
  background-size: 100vw;
}

.errorHeading {
  font-size: 130px;
}

.errorSubheading {
  font-size: 40px;
}

.goHomeButton {
  width: 250px;
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-top-left-radius: 28px;
  border-bottom-right-radius: 28px;
  outline: none;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: var(--green-secondary);
}

.goHomeButton:hover {
  border-radius: 0px 28px 0px 28px;
}
