<div class="container-md">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-7">
      <h1 class="headingAbout">About Us</h1>
      <h2>We believe the best dishes...</h2>
      <p>Are the ones that remind you of childhood. A portion of great food should make you feel like you are wrapped in
        a warm blanket. </p>
      <p>At our location in Warsaw, you will find the best dishes you didn't know you craved: extra-creamy mac and
        cheese, hot chicken casserole, classic and fusion flavors like the kimchi, to the veggie, for our vegetarian
        friends, and many more. We’re committed to serving delicious, fresh fare that will make you re-think how burgers
        should taste. </p>
      <p>Forget about the daily stress, check out our menu and come relax with us. After tasting any of our menu items,
        you will never want to leave!</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" [src]="aboutImage" alt="picture of burger">
    </div>
<!--
    <div class="counter">
      <h3>Counter: {{startValue}}</h3>
      <p>Years of Experience</p>
    </div> -->

  </div>
</div>
