.heading {
  color: var(--green);
  font-family: var(--secondary-font);
  font-size: 48px;
}

.subheading {
  font-size: 26px;
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
  }
  .imgContainer,
  .descriptionContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .heading {
    font-size: 40px;
    padding-top: 20px;
  }
  .subheading {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .burgerImg {
    width: 200px;
  }
}
