.navbar-brand {
  font-size: 32px;
}

.nav-item
.nav-link {
  margin-right: 15px;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close:focus,
.btn-close:active {
  outline: none;
  box-shadow: none;
}


.offcanvas {
  background-color: var(--green);
  z-index: 100001;
}

.contactButton {
  max-width: 100px;
  padding: 15px;
  border: 2px solid var(--green-secondary);
  outline: none;
  border-radius: 20px;
  overflow: hidden;
  color: var(--white);
  background: transparent;
  font-size: 16px;
  text-transform: uppercase;
}

.contactButton:hover {
  color: var(--black-dark);
  background-color: var(--green-secondary);
  transition: all 1s ease;
}

.navbar-inverse {
  background-color: var(--green);
  transition: background-color 0.5s ease;
}


.navbar {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 12vh;
}
.navbar-toggler {
  border: none;
  outline: none;
}

/* @media (max-width: 990px) {
  .navbar {
    background-color: var(--green);
  }
  .navbar-toggler {
    order: 3;
  }
  .nav-item {
    order: 2;
  }
  .contactButton {
    max-width: 90px;
    font-size: 14px;
  }
} */

