.container {
  padding: 15px;
}

.navbar-brand {
  font-size: 32px;
}

.nav-item
.nav-link {
  margin-right: 15px;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
}

.contactButton {
  max-width: 100px;
  padding: 15px;
  border: 2px solid var(--green-secondary);
  outline: none;
  border-radius: 20px;
  overflow: hidden;
  color: var(--white);
  background: transparent;
  font-size: 16px;
  text-transform: uppercase;
}

.contactButton:hover {
  color: var(--black-dark);
  background-color: var(--green-secondary);
}

.navbar-inverse {
  background-color: var(--green);
  transition: background-color 1s ease;
}
