/* .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-link.active {
  color: wheat;
}

.nav-link {
  color: wheat;
} */

.navbar-brand {
  color: orangered;
}


/*
.banner-image {
  background-image: url('assets/images/bgimage.jpg');
} */

/* :root {
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
} */

 .homeBackgroundImage {
  width: 100%;
}

.navbar-inverse {
  background: black;
  transition: background-color 1s ease;
}
