<nav class="navbar fixed-top navbar-expand navbar-dark" (scroll)="onWindowScroll()">
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col">
        <a routerLink="/home" class="navbar-brand"><img class="logo" [src]="logo" alt="Logo of restaurant"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav p-2">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li (click)="toAbout()" class="nav-item" routerLinkActive="active">
              <a class="nav-link">About</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/menu">Menu</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/faq">FAQ</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/reservation">Reservation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col ">
      <!-- <li class="nav-item" routerLinkActive="active"> -->
      <button class="contactButton">
        <a class="nav-link" routerLink="/contact">Contact</a>

      </button>

    </div>
    </div>
  </div>
</nav>

<!-- <div class="banner-image d-flex justify-content-center align-items-center bgImageContainer">
  <img class="img-fluid" class="homeBackgroundImage" [src]="homeBackgroundImage" alt="">
  <div class="welcome-text d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-white">Hello in our restaurant!</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, iusto?</h2>
        <button (click)="goToReservation()">Book a table</button>
      </div>
    </div>
  </div>
</div> -->
