<div class="navbarContainer">
  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center justify-content-center contactContainer">
    <div class="col-6 formContainer">
      <form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label class="form-label" for="inputName">Name</label>
          <input class="form-control" id="inputName" type="text" label="name" required ngModel name="name" #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">Name is required</span>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputEmail" >E-mail</label>
          <input class="form-control" id="inputEmail" type="email" label="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" email required ngModel name="email" #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid e-mail</span>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputPhone">Phone</label>
          <input class="form-control" id="inputPhone" type="tel" label="phone" pattern="[0-9]{9}" required ngModel name="phone"   #phone="ngModel">
          <span class="help-block" *ngIf="!phone.valid && phone.touched">Please enter a valid phone number</span>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputMessage">Message</label>
          <textarea rows="3" class="form-control" id="inputMessage" label="message" required ngModel name="message" #message="ngModel"></textarea>
          <span class="help-block" *ngIf="!message.valid && message.touched">Message is required</span>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <button class="btn" type="submit" [disabled]="!f.valid" data-bs-toggle="modal" data-bs-target="#contactModal">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactModalLabel">Success!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Message send successfully! We will answer as soon as possible.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
