.contactContainer {
  min-height: 100vh;
  max-width: 100vw;
}

input, textarea {
  padding-bottom: 15px;
  margin-bottom: 8px;
}

button {
  background: orangered;
  color: white;
  margin-top: 15px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid,
textarea.ng-valid {
  border: 1px solid green;
}
.help-block {
  color: red;
  font-size: 13px;
}

.formContainer {
  background-color: var(--green-secondary);

}

/* .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} */
