<div class="container">
  <div class="row row-cols-2 align-items-center">
    <form>
      <div class="col-8">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <div class="col-8">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail">
      </div>
      <div class="col-8">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="inputPhone">
      </div>
      <div class="col-8">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle">
      </div>
      <div class="col-8">
        <label for="inputMessage" class="form-label">Write Message</label>
        <textarea class="form-control" id="inputMessage" rows="3"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
      </div>
    </form>
    <div>
      <h1>Contact Details</h1>
      <p>34 Street Name, City Name Here, United States</p>
      <p>+1 242 4942 290</p>
      <p>info@yourdomain.com</p>
    </div>
  </div>
</div>



<!-- <div class="container">
  <form class="col-12">
    <div class="col-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    <div class="col-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-3">
      <label for="inputPhone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="inputPhone">
    </div>
    <div class="col-3">
      <label for="inputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="inputTitle">
    </div>
    <div class="col-3">
      <label for="inputMessage" class="form-label">Write Message</label>
      <textarea class="form-control" id="inputMessage" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
    </div>
  </form>
</div> -->