<div class="container">
  <div class="row">
    <div class="col-2" *ngFor="let menuOption of menuOptions; let i = index">
      <div (click)="toggleSection(i)">
      <h1 class="menuOption">{{ menuOption.type }}</h1>
      </div>
      <div class="menu-container">
        <div class="menuItems" *ngIf="i === activeOptionIndex">
          <h1>{{ menuOption.type }}</h1>
          <div *ngFor="let item of menuOption.items">
            <h2> {{ item.name }}</h2>
            <p>{{ item.ingredients }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>