<div class="navbarContainer">
  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>
<div class="container align-items-center">
  <div class="row">
    <div class="col" *ngFor="let menuOption of menuOptions; let i = index">
      <div class="typeOfFood" (click)="toggleSection(i)" [ngClass]="{'typeBackground': i === activeOptionIndex}">
        <img class="menuIcon" src="{{menuOption.icon}}" alt="">
        <h1 class="menuOption">{{ menuOption.type }}</h1>
      </div>
    </div>
    <div class="row" *ngFor="let menuOption of menuOptions; let i = index">
      <div class="menu-container" *ngIf="i === activeOptionIndex">
        <div class="menuItems">
          <h2 class="foodType">{{menuOption.type | uppercase}}</h2>
          <div class="row row-cols-3">
            <div class="col" *ngFor="let item of menuOption.items">
              <h3 class="dishName"> {{item.name | uppercase}}</h3>
              <p class="dishIngredients">{{item.ingredients}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
