.container {
  min-height: 100vh;
}

.typeOfFood {
  max-width: 400px;
  margin-top: 15px;
  padding: 20px;
  border: 2px solid var(--green);
  border-radius: 20px;
  color: var(--green);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  cursor: pointer;
}

.typeOfFood:hover {
  background-color: var(--green-secondary);
}

.typeBackground {
  background-color: var(--green-secondary);
}

.menuIcon {
  max-width: 40px;
  filter: invert(18%) sepia(15%) saturate(3026%) hue-rotate(117deg) brightness(98%) contrast(105%);
 }

 .menuOption {
  margin-top: 10px;
  font-size: 27px;
 }

.foodType {
  margin-top: 40px;
  color: var(--green);
  font-size: 45px;
  font-family: var(--secondary-font);
}

.dishName {
  margin-top: 30px;
  font-size: 23px;
}

@media (max-width: 320px) {
  .dishName {
    font-size: 16px;
    font-weight: bold;
  }
  .typeOfFood {
    max-width: 200px;
    padding: 15px;
  }
  .menuIcon {
    max-width: 30px;
  }
  .menuOption {
    font-size: 20px;
  }
  .foodType {
    font-size: 30px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .dishName {
    font-size: 16px;
    font-weight: bold;
  }
  .typeOfFood {
    max-width: 300px;
    padding: 15px;
  }
  .menuIcon {
    max-width: 35px;
  }
  .menuOption {
    font-size: 20px;
  }
  .foodType {
    font-size: 35px;
  }
}
