.container {
  height: 100vh;
}

.imageOfDish {
  width: 400px;
  height: 550px;
  border-radius: 10px;
}

.imageOfDish:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.lightbox {
  position: fixed;
  top: -10px;
  bottom: -10px;
  left: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.85);
  z-index: 9999;
}

.img-preview {
  height: 95vh;
  border-radius: 15px;
}

.carousel-control-prev {
  position: absolute;
  left: 70px;
  font-size: 35px;
}

.carousel-control-next {
  position: absolute;
  right: 70px;
  font-size: 35px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.closeIcon {
  width: 25px;
  filter: invert(98%) sepia(7%) saturate(7485%) hue-rotate(180deg) brightness(110%) contrast(111%);
}
