.container {
  height: 100vh;
}

.imageOfDish {
  width: 400px;
  height: 550px;
  border-radius: 10px;
}

.imageOfDish:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}


.lightbox {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -10px;
  bottom: -10px;
  width: 100vw;
  left: 0;
  background-color: rgba(0,0,0,.85);
}

.img-preview {
  border-radius: 15px;
  height: 95vh;
}

.carousel-control-prev {
  position: absolute;
  left: 70px;
  font-size: 35px;
}

.carousel-control-next {
  position: absolute;
  right: 70px;
  font-size: 35px;
}

.close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.closeIcon {
  filter: invert(98%) sepia(7%) saturate(7485%) hue-rotate(180deg) brightness(110%) contrast(111%);
  width: 25px;
}
