.gallery {
  min-height: 100vh;
  padding: 80px 0;
}

.imageOfDish {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
}

.lightbox {
  position: fixed;
  top: -10px;
  bottom: -10px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.85);
  z-index: 9999;
}

.img-preview {
  height: 95vh;
  border-radius: 15px;
}

.carousel-control-prev {
  position: absolute;
  left: 70px;
  font-size: 35px;
}

.carousel-control-next {
  position: absolute;
  right: 70px;
  font-size: 35px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.closeIcon {
  width: 25px;
  filter: invert(98%) sepia(7%) saturate(7485%) hue-rotate(180deg) brightness(110%) contrast(111%);
}

@media (max-width: 576px) {
  .lightbox {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .lightbox {
    top: 0px;
    bottom: -30px;
  }
  .img-preview {
    height: 70vh;
  }
  .carousel-control-prev {
    left: 40px;
  }
  .carousel-control-next {
    right: 40px;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .lightbox {
    top: 0px;
    bottom: -30px;
  }
  .img-preview {
    height: 80vh;
  }
  .carousel-control-prev {
    left: 35px;
  }
  .carousel-control-next {
    right: 35px;
  }
}
