.container {
  min-height: 100vh;
  max-width: 100vw;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid {
  border: 1px solid green;
}

.help-block {
  color: red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-valid {
  border: 1px solid green;
}

.submitMessage {
  color: green;
}
