<div class="container">
  <div class="col">
    <h1>Reservations</h1>
    <h2>Book A Table Online</h2>
  </div>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="row g-3 align-item-center justify-content-center">
    <div class="form-group col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <span *ngIf="!reservationForm.get('name')?.valid && reservationForm.get('name')?.touched"
        class="help-block">Please
        enter a valid username</span>
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
        <span *ngIf="!reservationForm.get('email')?.valid && reservationForm.get('email')?.touched"
        class="help-block">Please
        enter a valid email</span>
    </div>
    <div class="form-group col-md-6">
      <label for="phone" class="form-label">Phone</label>
      <input type="tel" class="form-control" id="phone" formControlName="phone">
      <span *ngIf="!reservationForm.get('phone')?.valid && reservationForm.get('phone')?.touched"
      class="help-block">Please
      enter a valid phone number</span>
    </div>
    <div class="form-group col-md-6">
      <label for="date" class="form-label">Date & Time</label>
      <input type="text" class="form-control" id="date" formControlName="date">
        <!-- <span *ngIf="!reservationForm.get('name')?.valid && reservationForm.get('name')?.touched"
        class="help-block">Please
        enter a valid username</span> -->
    </div>

    <div class="select col-md-6">
      <label for="guests" class="form-label">Number of people</label>
      <select class="form-select" id="guests" aria-describedby="validationServer04Feedback" formControlName="number">
        <option selected disabled value="">Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <!-- <div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div> -->
    </div>
    <div class="select col-md-6">
      <label for="occasion" class="form-label">Occasion</label>
      <select class="form-select" id="occasion" aria-describedby="validationServer04Feedback"
        formControlName="occasion">
        <option selected disabled value="">Choose...</option>
        <option value="chill">Eat & Chill</option>
        <option value="birthday">Birthday</option>
        <option value="anniversary">Anniversary</option>
      </select>
    </div>
    <div class="form-group col-12">
      <label for="message" class="form-label">Special request</label>
      <textarea class="form-control" id="inputMessage" rows="3" name="message" formControlName="message"></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
