.container {
  min-height: 100vh;
  max-width: 100vw;
  margin-bottom: 30px;
  background-image: url('/assets/reservation_bg.jpg');
  background-size: cover;
}

label {
  color: var(--white);
}

input, textarea, select {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-group,
.select {
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

.help-block {
  color: red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.reservationImg {
  height: 100vh;
}

.formContainer {
  width: 70vw;
  height: 85vh;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.submitButton {
  width: 200px;
  max-width: 100%;
  margin-top: 20px;
  background-color: white;
  color: var(--green);
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.successModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.navbarContainer {
  margin-bottom: 0;
}

@media (max-width: 1045px) {
  form {
    width: 100vw;
  }
  .formContainer {
    width: 90vw;
    height: 90vh;
    overflow: auto;
  }
  .form-group,
  .select {
    width: 90%;
  }
  .clientDataContainer,
  .reservationDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .submitButton {
    width: 150px;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
