.container {
margin-top: 80px;
margin-bottom: 80px;
}

.icon {
  width: 40px;
  filter: invert(18%) sepia(15%) saturate(3026%) hue-rotate(117deg) brightness(98%) contrast(105%);
}

.pointHeading {
  font-size: 30px;
  font-weight: bold;
  color: var(--green);
}

.description {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .icon {
    width: 25px;
  }
  .pointHeading {
    font-size: 25px;
  }
  .description {
    font-size: 14px;
  }
}
