.container {
margin-top: 80px;
margin-bottom: 80px;
}

.icon {
  width:60px;
  filter: invert(18%) sepia(15%) saturate(3026%) hue-rotate(117deg) brightness(98%) contrast(105%);
}

.pointHeading {
  font-size: 30px;
  font-weight: bold;
}

.description {
  margin-left: 10px;
}
