.container {
  margin-top: 40px;
}

.heading {
  color: var(--green);
  font-family: var(--secondary-font);
  font-size: 40px;
}

.subheading {
  font-size: 22px;
}

.carousel {
  min-height: 30vh;
}

.testimonial {
 min-height: 200px;
}

.carousel-caption h1 {
  font-size: 20px;
}

.carousel-indicators > button {
  border-radius: 50%;
  color: var(--green);
  max-width: 12px;
  min-height: 12px;
}
