.container {
  margin-top: 40px;
}

.testimonialsHeading {
  color: var(--green);
  font-family: var(--secondary-font);
  font-size: 40px;
}

.testimonialsSubheading {
  font-size: 22px;
}

.testimonial {
 height: 200px;

}

.carousel {
  height: 30vh;
}

.carousel-caption h1 {
  font-size: 20px;
}

.carousel-indicators > button {
  border-radius: 50%;
  color: var(--green);
  width: 12px;
  height: 12px;
}
