<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="heading">Testimonials</h1>
      <h2 class="subheading">Happy Customers</h2>
      <div *ngIf="errorMessage" class="errorMessage">
        {{ errorMessage }}
      </div>
      <div id="carouselTestimonials" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item testimonial" *ngFor="let testimonial of testimonials; let i = index"
            data-bs-interval="3000" [ngClass]="{'active': i === 0}">
            <div class="carousel-caption">
              <h3 class="review">{{testimonial.review}}</h3>
              <p class="name">{{testimonial.name}}</p>
            </div>
          </div>
        </div>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        </div>
      </div>
    </div>
  </div>
</div>
