:root {
  --white: #f9fcff;
  --orange: #f63e04;
  --green: #003e29;
  --green-secondary: #bff47b;;
  --black-dark:  #0C090A;
  --black-light: #1B1212;
  --black-lighter: #1A1110;
  --grey: #454545;
  --primary-font: 'Tahoma', serif;
  --secondary-font: 'Calistoga', serif;
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --secondary-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  color: var(--black-dark);
  font-family: var(--primary-font);
}

.logo {
  max-width: 150px;
}

.navbarContainer {
  min-height: 15vh;
  background-color: var(--green);
  margin-bottom: 20px;
}
