<div class="container align-items-center text-center">
  <div class="col">
    <h1 class="heading">Team Members</h1>
    <h2 class="subheading">Our Master Chefs</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 chefContainer">
      <img class="img-fluid imageOfChef" [src]="ImageOfChefFirst" alt="Image of chef Michael Oliver">
      <div class="nameOfChef">
        <p class="chefName">Michael Oliver</p>
      </div>
    </div>
    <div class="col-4 chefContainer">
      <img class="img-fluid imageOfChef" [src]="ImageOfChefSecond" alt="Image of chef Mary Smith">
      <p class="chefName">Mary Smith</p>
    </div>
    <div class="col-4 chefContainer">
      <img class="img-fluid imageOfChef" [src]="ImageOfChefThird" alt="Image of chef Alex Brown">
      <p class="chefName">Alex Brown</p>
    </div>
  </div>
</div>
