.container {
  margin-top: 40px;
}

.heading {
  color: var(--green);
  font-family: var(--secondary-font);
  font-size: 40px;
}

.subheading {
  font-size: 22px;
}

.imageOfChef {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.imageOfChef:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.chefName {
  font-size: 20px;
}
