<!-- <div class="container-fluid px-0">
  <div class="bg-image">
    <app-navbar></app-navbar>
    <img class="img-fluid" class="homeBackgroundImage" [src]="homeBackgroundImage" alt="">
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>

<app-about></app-about> -->



<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Most Popular Items</h3>
    </div>
    <div class="row">
      <h4>Popular Breakfast</h4>
      <h4> Lovely Dinner</h4>
      <h4>Drinks</h4>
    </div>
  </div>
</div> -->

<app-navbar></app-navbar>
<app-about></app-about>
<app-team></app-team>
<app-testimonials></app-testimonials>
<app-footer></app-footer>