/* .homeBackgroundImage {
  width: 100%;

} */

/* .bg-image {
  background-size: cover;
} */


.bgImageContainer {
  position: relative;
}

.homeBackgroundImage {
  width: 100vw;
  height: 100vh;
}

.welcome-text {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

